<div class="custom-container">
  <h1 class="custom-text-green">Dipendenza affettiva</h1>
  <p class="custom-subpage-title">Sono dipendente dal mio partner?</p>
  <p>
    Ti senti come se la tua relazione fosse a un punto morto? Tu e il tuo partner siete bloccati nello stesso ciclo di discussioni ogni notte? Ti senti "stressato" o preoccupato che la tua relazione possa finire da un momento all’altro?
  </p>
  <p>
    La dipendenza affettiva fa parte delle “nuove dipendenze”, che non necessariamente si alimentano con l’uso di una particolare sostanza, ma nonostante ciò, seguono il solito ciclo di una tossicodipendenza.<br>
    In particolar modo, questa forma di dipendenza può risultare da fantasie romantiche sulla propria storia d’amore, che alleviano la paura della solitudine e del rifiuto, promettendoti la “felicità eterna”, oppure dall’esperienza di un legame di attaccamento con il tuo partner, che placa la paura, consapevole o inconsapevole, di essere abbandonati e illude di eliminare la solitudine e le carenze nella propria autostima.<br>
    A volte questa forma relazionale patologica si associa ad uno stile di personalità dipendente, in cui si fa fatica a prendere decisioni da soli, poiché non si ha fiducia nelle proprie capacità, si ha il bisogno che il nostro partner si assumi le responsabilità al posto nostro, si fa fatica a esprimere disaccordi o opinioni contrastanti con quelle del partner e conseguentemente proviamo emozioni, come ansia e disperazione di perdere l’unico nostro punto di riferimento che ci mantiene stabili.<br>
    Questa tipologia di dipendenza, alle volte, può porre le basi per relazioni connotate da violenze, maltrattamenti, ed atti persecutori.
  </p>
  <p class="custom-subpage-title">Aiuto in caso di dipendenza affettiva</p>
  <p>
    Essere inseriti in una relazione caratterizzata da dipendenza affettiva, può comportare gravi rischi per il nostro benessere. Infatti la relazione può essere vissuta come fonte di insoddisfazione e frustrazione ma, per quanto portare avanti questo legame sembri difficile, il pensiero di rimanerne privi è di gran lunga peggiore. Pertanto sperimentiamo una tensione tra il “non poter vivere con” e il “non poter vivere senza”: il senso della propria stabilità personale dipenderà dalla propria relazione affettiva, conferendo al partner il potere di decidere il nostro valore sulla base della sua approvazione o disapprovazione.<br>
    In questi casi, il percorso psicologico è indispensabile per aiutarti a comprendere l’origine della dipendenza e dei vissuti interiori legati al senso di insicurezza e inferiorità, ad apprendere le strategie per gestire i momenti di fragilità emotiva, e a individuare nuovi riferimenti per definire se stessi. Talvolta, la dipendenza affettiva può accompagnarsi a problemi emotivi legati all'ansia o alla depressione, il cui comportamento di dipendenza, ossia di ricerca morbosa dell’altro, diventa l’unica modalità di controllo e gestione delle propria emotività, specie nei momenti più fragili, contribuendo in tal modo a mantenere la dipendenza.<br>
    Qui, avrai la possibilità di modificare i propri comportamenti disfunzionali per migliorare la tua esistenza e individuare nuove fonti di benessere.<br>
    Viene inoltre offerta la possibilità di un sostengo psicologico di coppia per comprendere l’impatto che questa dipendenza ha avuto sul vostro rapporto.
  </p>
</div>

<app-came-back-button></app-came-back-button>

