.navbar {
  @apply flex flex-col sm:flex-row items-center w-screen sm:w-auto;
}

.mobile-navbar {
  @apply top-14 pt-5 pb-7 shadow-lg;
}

.desktop-navbar {
  @apply sm:right-4 sm:relative ;
}

li:hover {
  color: var(--green-mati);
  border-color: var(--green-mati);
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
  @apply border-b-2 rounded-sm;
}

//
//
//.slide-bottom {
//  transform: translateY(0);
//  opacity: 1;
//
//}
//
//.slide-top {
//  @apply sm:flex;
//  transform: translateY(-100%);
//  opacity: 0;
//}
//
//.ul-container {
//
//  z-index: -1 !important;
//}



.menu-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2em;
  margin: 0;
  position: absolute;
  left:1em;
  top:1em;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 3em;
}

.line {
  fill: none;
  stroke: var(--green-mati);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 50;
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


.slide-in-down {
  -webkit-animation-name: slide-in-down;
  animation-name: slide-in-down;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-in-up {
  -webkit-animation-name: slide-in-up;
  animation-name: slide-in-up;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slide-in-up {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes slide-in-up {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}



