<div class="custom-container">
  <h1 class="custom-text-green">Percorsi di crescita personale</h1>
  <p>L’essere umano è unico e imprescindibile, che si sviluppa a partire dall’esperienza di fatti ed eventi che avvengono nel proprio contesto di vita. Pertanto ogni qual volta trattiamo uno stato di disagio, occorre innanzitutto adottare un atteggiamento di comprensione empatica per individuare il CHI del soggetto, ossia sentimenti, desideri, pensieri che appartengono a quella specifica persona e che definiscono la manifestazione del significato della sua sofferenza. E come psicologa clinica, è importante anche il saper spiegare il COSA, ossia la struttura oggettiva del disagio della persona che si riferisce alla serie di modificazioni fisiche ed organiche che occorrono in una dato stato di disagio, al fine, laddove è richiesto, di diagnosticare il possibile disturbo.<br>
    Come afferma Recoeur spiegazione e comprensione sono due forme alternative ma complementari del processo di conoscenza della realtà a cui ci stiamo riferendo, in questo caso della realtà clinica.<br>
    Questo processo sarà reso possibile grazie alla condivisione tra lo psicologo e il paziente di una rete coerente di rimandi che si riferisce all’insieme degli aspetti culturali e sociali del contesto nel quale viviamo, stabilendo quelle regole implicite od esplicite che governano il nostro modo di essere e di agire nel mondo.
  </p>
  <p>Il lavoro, che potremo fare insieme, verte sull’uso di tecniche per gestire il problema e sullo svolgimento di compiti pratici per il raggiungimento di specifici obiettivi. Pertanto sarà richiesto da parte della persona una responsabilizzazione rispetto all’importanza di assumere un ruolo attivo nel suo percorso di crescita personale.</p>

  <p>Attività:</p>
  <p> -  Compiti pratici.</p>
  <p> -  Diario di attivazione emotiva e di registrazione di contesti.</p>
  <p> -  Analisi del problema emerso.</p>
  <p> -  Tecniche di gestione dello stress.</p>
  <p> -  Attività psicoeducativa.</p>
</div>

<app-came-back-button></app-came-back-button>

