<div class="section parallax background-what-i-do mt-96">
  <div class="custom-container-opacity">
    <h1 class="custom-text-green">Cosa posso fare per te</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 justify-between pt-14">

      <div class="item-container">
        <i class="fas fa-chalkboard-teacher fa-3x"></i>
        <div class="item-description">Consulenza psicologica e online</div>
      </div>

      <div class="item-container">
        <i class="fas fa-users fa-3x"></i>
        <div class="item-description">Parent training</div>
      </div>

      <div class="item-container">
        <i class="far fa-clipboard fa-3x"></i>
        <div class="item-description">Valutazione psicodiagnostica</div>
      </div>

      <div class="item-container">
        <i class="fas fa-sort-amount-up-alt fa-3x"></i>
        <div class="item-description">Percorso psicologico di crescita personale</div>
      </div>

      <div class="item-container">
        <i class="far fa-head-side-medical fa-3x"></i>
        <div class="item-description">Sostegno psicologico</div>
      </div>

      <div class="item-container">
        <i class="far fa-gavel fa-3x"></i>
        <div class="item-description">Consulenza tecnica in caso di separazioni, affidi e adozioni</div>
      </div>

    </div>

  </div>
</div>

