.background-what-i-do::after {
  background-image: url("../../../../../../assets/images/what-i-do.jpg");
  background-position: center;
  background-size: cover;
}

.item-container {
  @apply flex flex-col items-center w-full sm:w-1/2 max-w-sm;
}

.item-description {
  @apply text-center text-base sm:text-xl pt-3 pb-8;
}



