<div id="faqs-concessions" class="section parallax mt-96 background-faq anchor">
  <div class="custom-container-opacity w-screen">
      <h1 class="custom-text-green py-8">Agevolazioni e FAQs</h1>
      <h2>Alcune risposte alle tue domande</h2>

      <div *ngFor="let item of faqsAndConcessions" class="mt-10 flex justify-center">

        <div class="custom-container custom-card-bordered" (click)="item.isClicked=!item.isClicked" >

          <div *ngIf="!item.isClicked" class="tracking-in-expand-fwd-enter h-20 flex items-center justify-center">
            <h2>{{item.shortText}}</h2>
          </div>

          <div *ngIf="item.isClicked" class="tracking-in-expand-fwd-leave flex flex-col items-center">
            <p>{{item.longText}}</p>
            <p *ngIf="item.navigatePage !== ''" class="custom-link inline-block" (click)="router.navigate([item.navigatePage])">
              Maggiori informazioni
            </p>
          </div>

        </div>

      </div>

    </div>
  </div>
