.bg-faqs {
  background-image: url("../../../../../../assets/images/faqs.jpg");
  background-position: center bottom;
  background-size: cover;
}

.bg-pagamenti-e-detrazioni {
  background-image: url("../../../../../../assets/images/pagamenti-e-detrazioni.jpg");
  background-position: center;
  background-size: cover;
}

.bg-assicurazione {
  background-image: url("../../../../../../assets/images/assicurazione.jpg");
  background-position: center;
  background-size: cover;
}


