.background-dark {
  background-image: url("../../../../../../assets/images/home-dark.jpg");
  background-position: center;
  background-size: cover;
}

.background-light {
  background-image: url("../../../../../../assets/images/home-light.jpg");
  background-position: center;
  background-size: cover;
}
