<div id="about-me" class="section parallax mt-96 background-about-me">
  <div class="w-full h-full flex flex-col justify-center">
    <div class="custom-container-opacity md:mx-10 lg:mx-20" >
      <h1 class="custom-text-green">Chi sono</h1>
      <p>
        Sono una Psicologa clinica, abilitata e iscritta all’Ordine degli Psicologi della Toscana n. 9213.
        Il mio obiettivo è quello di aiutare le persone a essere la versione migliore di sé e a superare gli ostacoli che impediscono di vivere la vita a pieno. Tutti noi attraversiamo nella nostra vita periodi di maggior fragilità, e ogni tanto non è facile uscirne da soli.
        Sono una psicologa da solo pochi anni, ma amo quello che faccio. Ho lavorato come psicologa con persone disoccupate, aiutandole a gestire l’impatto emotivo e psicologico risultante dalla perdita del lavoro, con persone affette da dipendenze comportamentali e da sostanze, e anche con ragazzi pre-adolescenti affetti da disturbi neuromotori e disabilità intellettive.
        Il percorso psicologico che offro per aiutare le persone ad affrontare i loro problemi mira a comprendere l’origine della loro sofferenza, e a utilizzare compiti esperienziali, per provare nuove strategie di sperimentarsi nella propria vita quotidiana, con la prerogativa di apprendere tecniche e sviluppare risorse per far fronte a situazioni particolarmente difficili nella vita di tutti i giorni.
      </p>
      <p>
        Vuoi sapere cosa mi ha portato a scegliere questo percorso e scoprire qualcosa in più su di me?
      </p>
      <p class="custom-link" (click)="router.navigate(['about-me'])">
        Clicca qui
      </p>
    </div>
  </div>
</div>
