<div class="custom-container">
  <h1 class="custom-text-green">Consulenza psicologica e online</h1>
  <p>La consulenza psicologica è un intervento breve, delimitato nel tempo e realizzabile in pochi colloqui, quantificabili in base alla complessità della problematica del cliente e all’obbiettivo specifico che stabiliamo insieme. Solitamente si tratta di difficoltà relazionali o emotive o preoccupazioni attuali, non necessariamente patologiche, percepite sul lavoro, in famiglia, in un rapporto di coppia, verso le quali le persone hanno difficoltà a prendere un decisione, e questo comporta un peso nel qui ed ora.</p>
  <p>La consulenza psicologica consiste in:</p>
  <p> -  Alcuni colloqui di valutazione per comprendere il problema del cliente.</p>
  <p> -  Un’attività di problem-solving, volta a formulare un parere sui possibili interventi da intraprendere.</p>
  <p>La consulenza psicologica è ciò che può aiutarti a identificare il nucleo generativo del problema e a facilitarti nel prendere una decisione consapevole sulla soluzione da applicare. Questo servizio può aiutarti a sviluppare una strategia di problem solving utile anche per problematiche future.</p>
  <p>Questa attività di consulenza può essere svolta online: piattaforme internet, come zoom, skype, offrono la possibilità di intraprendere un percorso psicologico a distanza, pur garantendo massimo rispetto e riservatezza per la persona che ne usufruisce. Pertanto sono considerati interventi importanti quanto quelli tradizionali, purché erogabili nel rispetto di quanto previsto dal codice deontologico della professione psicologica.</p>
  <p>La consulenza online è ideale per tutte le persone che si trovano impossibilitate a raggiungere fisicamente il mio studio per qualsiasi motivo (di comodità, di distanza geografica o altro ancora), ma che desiderano ugualmente usufruire di un aiuto psicologico.</p>
</div>

<app-came-back-button></app-came-back-button>

