.bg-attivita-clinica {
  background-image: url("../../../../../../assets/images/attività-clinica.jpg");
  background-position: center;
  background-size: cover;
}

.bg-attivita-forense {
  background-image: url("../../../../../../assets/images/attività-forense.jpg");
  background-position: center;
  background-size: cover;
}
