<div class="custom-container">
  <h1 class="custom-text-green">Assicurazioni</h1>
  <p>
    Tra le assicurazioni più diffuse, nel sostenere i costi di un percorso psicologico, possiamo trovare:<br><br>
    Casagit – Polizza sanitaria integrativa dei giornalisti<br>
    Unipol – Unisalute<br>
    Fisde – Fondo integrativo sanitario gruppo Enel<br>
    Assilt – Assistenza sanitaria lavoratori Telecom<br>
    Cadiprof – Cassa di assistenza sanitaria integrativa per i lavoratori degli studi professionali<br><br>
    Esistono inoltre alcune assicurazioni sanitarie che rimborsano i percorsi psicologici per chi ne usufruisce, per cui ti consiglio, in ogni caso, di controllare la tua assicurazione sanitaria.
  </p>
  <app-came-back-button></app-came-back-button>
</div>
