<div class="section parallax mt-96 background-about-me">
  <div class="w-full h-full flex flex-col justify-center pb-12">
    <div class="px-6 py-6 bg-white dark:bg-dark opacity-80" >
      <h1 class="custom-text-green">Chi sono</h1>
      <p data-aos="flip-down" data-aos-delay="20">
        Mi chiamo Matilde Ciaccia, il mio obiettivo è quello di aiutarti a superare le difficoltà e a sostenerti nel percorso di crescita personale.
        Grazie all’integrazione della mia professionalità e del racconto della tua esperienza sarà possibile individuare insieme nuove chiavi di lettura, possibilità d’azione e modi di essere che hanno senso per te.
      </p>
      <p>
        Vuoi sapere cosa mi ha portato a scegliere questo percorso e scoprire qualcosa in più su di me?
      </p>
      <div class="custom-link" (click)="router.navigate(['about-me'])">
        Clicca qui
      </div>
    </div>
  </div>
</div>
