<!--<div class="custom-container" *ngIf="activeArticle$ | async as article">-->
<!--  <h1 class="custom-text-green">{{article.title}}</h1>-->
<!--  <p class="font-normal pt-4 pb-0" [innerText]="article.text"></p>-->
<!--  <app-came-back-button></app-came-back-button>-->
<!--</div>-->

<!--<ng-container *ngIf="articles$ | async as articles">-->
<!--  <app-divider></app-divider>-->
<!--  <div id="faqs-concessions" class="bg-white dark:bg-dark pb-10" >-->
<!--    <h1 class="custom-text-green py-8">Il mio blog</h1>-->
<!--    <h2 class="mb-4">Clicca su uno degli articoli per maggiori informazioni</h2>-->
<!--    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">-->
<!--      <ng-container  *ngFor="let article of articles">-->
<!--        <div class="article-container p-4 cursor-pointer" (click)="navigateToArticle(article)">-->
<!--          <div class="border-2 border-black p-4 bg-white dark:bg-dark">-->
<!--            <h2 class="section-title mb-2 text-center">{{article.title}}</h2>-->
<!--            <p>{{article.text}}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->
