.background-dark {
}

.background-dark::after {
  background-image: url("../../../../../../assets/images/home-dark.jpg");
  background-position: center;
  background-size: cover;
}

.background-light {
}

.background-light::after {
  background-image: url("../../../../../../assets/images/home-light.jpg");
  background-position: center;
  background-size: cover;
}

#index {
  @apply mt-0;
}
