<div class="custom-container">
  <h1 class="custom-text-green">Percorsi di parent training</h1>
  <p>Qualsiasi forma di disagio che affligge un bambino o un adolescente, oltre a incidere sulla sua salute fisica e psicologica, impatta inevitabilmente anche sulla sua famiglia, in particolare sulle competenze genitoriali e sulle strategie di gestione del proprio figlio, causando una condizione di stress generalizzato.</p>
  <p>Pertanto il programma di parent training viene sviluppato per far fronte all’esperienza di stress dei genitori di figli con situazioni problematiche, al fine di favorire il mantenimento di risposte genitoriali soddisfacenti per la stabilità e il benessere del proprio figlio.</p>
  <p>Gli obbiettivi del parent training sono:</p>
  <p> -  Migliorare la relazione e la comunicazione tra genitori e figli.</p>
  <p> -  Aumentare la capacità di analisi dei problemi educativi che possono insorgere.</p>
  <p> -  Aumentare la conoscenza dello sviluppo psicologico dei figli e dei principi che lo regolano.</p>
  <p> -  Diffondere metodi educativi efficaci.</p>
  <p> -  Rendere la vita familiare e i problemi di tipo educativo che possono sorgere più facilmente gestibili (Soresi, 2007).</p>
  <p>Un percorso di Parent training si realizza in forma individuale (un singolo nucleo genitoriale) o gruppale. Il programma prevede in genere da 4 a 10 incontri con cadenza settimanale, suddivisi in 3 parti:</p>
  <p> -  Parte teorica, per illustrare gli aspetti generali dell’argomento.</p>
  <p> -  Parte pratica, dove i genitori svolgeranno attività di role playing, case work o guarderanno filmati e videoregistrazioni da commentare.</p>
  <p> -  Parte conclusiva, con la consegna di alcuni esercizi da attuare a casa.</p>
  <p>Il parent training è ideale per genitori con figli affetti da problematiche alimentari, di dipendenza o di disabilità, oltre che per una semplice consulenza sulla genitorialità.</p>
</div>

<app-came-back-button></app-came-back-button>

