<div class="custom-container">
  <h1 class="custom-text-green">Sostegno psicologico</h1>
  <p>Il sostegno psicologico è una funzione di tipo supportivo alla tenuta delle condizioni di benessere della persona, del gruppo o di una istituzione.</p>
  <p>Il sostegno psicologico si realizza quindi in tutti quei casi in cui si ritiene opportuno contenere uno stato di disagio esperito attualmente nella quotidianità, al fine di evitare lo sconfinamento di quest’ultimo in una forma psicopatologica. Oppure in quei casi in cui è necessario rinforzare il mantenimento nel tempo dei risultati ottenuti tramite un training abilitativo o con un percorso di psicoterapia.</p>
  <p>Consiste in:</p>
  <p> -  Facilitare l’espressione delle emozioni e pensieri legati alla problematica..</p>
  <p> -  Individuare punti forza e risorse presenti nella persona e nel suo contesto di vita.</p>
  <p> -  Mantenere le capacità di autodeterminazione in vista dei propri obiettivi.</p>
  <p>Il sostegno psicologico è dunque un intervento, realizzabile con colloqui, la cui durata non è possibile prestabilire; ciononostante tale intervento tratta problemi circoscritti e definiti nel tempo che solitamente sono caratterizzati da un’“urgenza emotiva”, come la scoperta di una malattia cronica, un lutto di una persona cara, che alterano così l’equilibrio emotivo e psicologico della persona.</p>
</div>

<app-came-back-button></app-came-back-button>

