<div class="custom-container">
  <h1 class="custom-text-green">Dipendenza da sostanze</h1>
  <p class="custom-subpage-title">Stai abusando di droghe o alcol e sei pronto a ricevere aiuto?</p>
  <p>
    Stai lottando per smettere di bere alcolici, di fumare sigarette o marijuana o assumere altre sostanze?
  </p>
  <p class="custom-subpage-title">Miti comuni sulla dipendenza</p>
  <p>
    Dopo decenni passati a combattere la guerra alla droga, la triste verità è che la diffusione di droghe è sempre più rapida ed insidiosa. Se fino agli anni 90, c’era il boom delle droghe tradizionali, come cocaina, eroina, LSD, oggi troviamo le Nuove Sostanze Psicoattive, sostanze sintetiche prodotte chimicamente, non adatte all’uso umano, capaci di simulare gli effetti delle sostanze tradizionali, ma con una notevole differenza nell’intensità e nella durata degli effetti, ossia maggiori, causando conseguenze sul piano della salute fisica e psicologica ben più gravi. E’ stato identificato un uso più frequente nelle fasce di età più giovani.<br>
    Per fare dei reali progressi, però, è necessario adottare il giusto approccio e dissipare i pregiudizi comuni che bloccano le persone nelle loro dipendenze, che si tratti di droghe, alcol, sesso, videogiochi o qualsiasi altra cosa. La buona notizia è che ci sono milioni di persone che sono la prova vivente che, con il giusto approccio, la dipendenza può essere sconfitta.
  </p>
  <p>
    Quindi quali sono le idee sbagliate comuni sulla dipendenza che dobbiamo sfatare per fare progressi?
  </p>
  <p class="custom-subpage-title">Tre concezioni errate sulla dipendenza</p>
  <p>
    <strong>La dipendenza è genetica.</strong>
    Tutto è genetico in una certa misura, ma nonostante quello che potresti aver sentito, non ci sono prove che alcune persone abbiano un gene che le condanna alla dipendenza. Come afferma il ricercatore ed esperto di dipendenze Lance Dodes, "la scoperta più importante della ricerca sul ruolo genetico dell'alcolismo è che non esiste un gene per l'alcolismo". Tuttavia, la fede nel determinismo genetico può diventare una profezia che si autoavvera. La convinzione che i geni determinano la dipendenza priva le persone di speranza e crea un'atmosfera di fatalismo tra amici e familiari, il che ostacola notevolmente il processo di guarigione.
  </p>
  <p>
    <strong>La dipendenza è una scelta.</strong>
    All'altra estremità dello spettro c'è la convinzione che la dipendenza sia solo una scelta che si può fare con sufficiente forza di volontà. Naturalmente, i tossicodipendenti hanno tanto libero arbitrio quanto chiunque altro, ma tutte le prove dimostrano che la strategia basata sulla sola forza di volontà di solito peggiora la dipendenza. Questo perché il semplice tentativo di smettere attiva il ciclo della vergogna e del senso di colpa che riporta il tossicodipendente alla droga o all'alcol. Senza il giusto aiuto, più ci provi, più duramente fallisci.
  </p>
  <p>
    <strong>La dipendenza provoca cambiamenti permanenti al cervello.</strong>
    Sebbene la dipendenza abbia effetti sul cervello, devi sempre tenere presente che quasi tutti questi sono reversibili. La cosa più importante da capire sul cervello è il concetto di neuroplasticità: il cervello ha un enorme potenziale di crescita, sviluppo e cambiamento sia per gli adulti che per i bambini. Con la giusta assistenza psicologica, i percorsi di ricompensa che riportano un tossicodipendente alla droga o all'alcol possono essere modificati.
  </p>
  <p class="custom-subpage-title">Aiuto in caso di dipendenza da sostanze</p>
  <p>
    La dipendenza da sostanze può essere il risultato di problemi più profondi. Ad esempio, attraversare dei periodi della propria vita particolarmente difficili, può causare l’insorgenza di problemi sul piano emotivo, come l’ansia e la depressione, e trovare nel comportamento di dipendenza l’unico modo possibile per gestire la propria fragilità emotiva. Questo contribuisce poi ad alimentare la dipendenza e a mettere in atto tale comportamento, divenendo compulsivo e fuori dal proprio controllo. <br>
    In un percorso psicologico, puoi essere aiutato a individuare le cause della tua dipendenza e le strategie per come gestire i momenti di fragilità o di intenso desiderio.<br>
    Talvolta, la dipendenza da sostanze, come qualsiasi altra forma di dipendenza, si associa alla ricerca di forti sensazioni e di uno stato di evasione da problemi personali, il cui comportamento di dipendenza diventa l’unica modalità conosciuta per il raggiungimento del proprio benessere emotivo, specie nei momenti più fragili, contribuendo in tal modo a mantenere la dipendenza. Qui, tu avrai la possibilità di modificare i propri comportamenti disfunzionali per migliorare la tua esistenza e individuare nuove fonti di benessere.<br>
    Viene inoltre offerta la possibilità di un supporto psicologico anche per i membri della famiglia per comprendere l’impatto che questa dipendenza ha avuto su di loro.<br>
    Questo lavoro avverrà in ambiente sicuro e non giudicante in cui potrai esplorare i tuoi modi personali di esperire, la natura e l’origine della tua dipendenza d sostanze.
  </p>
</div>

<app-came-back-button></app-came-back-button>

