<div class="mt-36 flex flex-col sm:grid sm:grid-cols-2 gap-1 bg-white dark:bg-dark py-1">
  <div class="images-container bg-dipendenze-conportamentali">
    <div class="custom-container-opacity w-full">
      <div class="section-title">Dipendenze comportamentali</div>
      <div class="section-item">Dipendenza sessuale</div>
      <div class="section-item">Dipendenza da internet</div>
      <div class="section-item">Dipendenza da gioco d'azzardo</div>
    </div>
  </div>
  <div class="images-container bg-disturbi-del-comportamento-alimentare">
    <div class="custom-container-opacity w-full">
      <div class="section-title">Disturbi del comportamento alimentare</div>
      <div class="section-item">Anoressia</div>
      <div class="section-item">Bulimia</div>
      <div class="section-item">Binge-eating</div>
    </div>
  </div>
  <div class="images-container bg-problemi-di-coppia">
    <div class="custom-container-opacity w-full">
      <div class="section-title">Problemi di coppia</div>
      <div class="section-item">Conflitti di coppia</div>
      <div class="section-item">Dipendenza affettiva</div>
      <div class="section-item">Violenza domestica</div>
    </div>
  </div>
  <div class="images-container bg-dipendenza-da-sostanze">
    <div class="custom-container-opacity w-full">
      <div class="section-title">Dipendenza da sostanze</div>
      <div class="section-item">Alcol</div>
      <div class="section-item">Cocaina</div>
      <div class="section-item">Altre sostanze psicoattive</div>
    </div>
  </div>
  <div class="images-container bg-adoloscenza-e-genitorialità">
    <div class="custom-container-opacity w-full">
      <div class="section-title">Adoloscenza e genitoralità</div>
      <div class="section-item">Hikkikomori</div>
      <div class="section-item">Cyber-bullismo</div>
      <div class="section-item">Sexting</div>
    </div>
  </div>
  <div class="images-container bg-consulenza-tecnica">
    <div class="custom-container-opacity w-full">
      <div class="section-title">Adoloscenza e genitoralità</div>
      <div class="section-item">Hikkikomori</div>
      <div class="section-item">Cyber-bullismo</div>
      <div class="section-item">Sexting</div>
    </div>
  </div>
</div>
