<div class="bg-white dark:bg-dark mt-36" id="problemi-trattati">
  <h1 class="custom-text-green py-8">Problemi trattati</h1>
  <div class="flex flex-col sm:grid sm:grid-cols-2 gap-1 py-1">
    <div class="images-container bg-dipendenze-conportamentali">
      <div class="custom-container-opacity max-w-xl w-full">
        <div class="section-title">Dipendenze comportamentali</div>
        <div id="dipendenze-comportamentali" class="anchor"></div>
        <div class="section-item custom-text-green cursor-pointer" (click)="router.navigate(['dipendenze-comportamentali/dipendenza-sessuale'])">Dipendenza sessuale</div>
        <div class="section-item custom-text-green cursor-pointer" (click)="router.navigate(['dipendenze-comportamentali/dipendenza-da-internet'])">Dipendenza da internet</div>
        <div class="section-item">Dipendenza da gioco d'azzardo</div>
      </div>
    </div>
    <div class="images-container bg-disturbi-del-comportamento-alimentare" id="disturbi-del-comportamento-alimentare">
      <div class="custom-container-opacity max-w-xl w-full">
        <div class="section-title">Disturbi del comportamento alimentare</div>
        <div class="section-item">Anoressia</div>
        <div class="section-item">Bulimia</div>
        <div class="section-item">Binge-eating</div>
        <div class="section-item custom-text-green cursor-pointer" (click)="router.navigate(['disturbi-del-comportamento-alimentare'])">Maggiori informazioni</div>
      </div>
    </div>
    <div class="images-container bg-problemi-di-coppia" id="problemi-di-coppia">
      <div class="custom-container-opacity max-w-xl w-full">
        <div class="section-title custom-link">Problemi di coppia</div>
        <div class="section-item">Conflitti di coppia</div>
        <div class="section-item custom-text-green cursor-pointer" (click)="router.navigate(['problemi-di-coppia/dipendenza-affettiva'])">Dipendenza affettiva</div>
        <div class="section-item">Violenza domestica</div>

      </div>
    </div>
    <div class="images-container bg-dipendenza-da-sostanze" id="dipendenza-da-sostanze">
      <div class="custom-container-opacity max-w-xl w-full">
        <div class="section-title">Dipendenza da sostanze</div>
        <div class="section-item">Alcol</div>
        <div class="section-item">Cocaina</div>
        <div class="section-item">Altre sostanze psicoattive</div>
        <div class="section-item custom-text-green cursor-pointer" (click)="router.navigate(['dipendenza-da-sostanze'])">Maggiori informazioni</div>
      </div>
    </div>
    <div class="images-container bg-adoloscenza-e-genitorialità" id="adoloscenza-e-genitorialita">
      <div class="custom-container-opacity max-w-xl w-full">
        <div class="section-title">Adoloscenza e genitoralità</div>
        <div class="section-item">Hikkikomori</div>
        <div class="section-item">Cyber-bullismo</div>
        <div class="section-item">Sexting</div>
        <div class="section-item custom-text-green cursor-pointer" (click)="router.navigate(['adoloscenza-e-genitorialita'])">Maggiori informazioni</div>
      </div>
    </div>
    <div class="images-container bg-consulenza-tecnica">
      <div class="custom-container-opacity max-w-xl w-full">
        <div class="section-title">Adoloscenza e genitoralità</div>
        <div class="section-item">Hikkikomori</div>
        <div class="section-item">Cyber-bullismo</div>
        <div class="section-item">Sexting</div>
      </div>
    </div>
  </div>
</div>

