.bg-dipendenze-conportamentali {
  background-image: url("../../../../../../assets/images/dipendenze-comportamentali.jpg");
    background-position: center;
    background-size: cover;
}

.bg-disturbi-del-comportamento-alimentare {
  background-image: url("../../../../../../assets/images/disturbi-del-comportamento-alimentare.jpg");
  background-position: center;
  background-size: cover;
}

.bg-problemi-di-coppia {
  background-image: url("../../../../../../assets/images/problemi-di-coppia.jpg");
  background-position: center;
  background-size: cover;
}

.bg-dipendenza-da-sostanze {
  background-image: url("../../../../../../assets/images/dipendenza-da-sostanze.jpg");
  background-position: center;
  background-size: cover;
}

.bg-adoloscenza-e-genitorialità {
  background-image: url("../../../../../../assets/images/adoloscenza-e-genitorialità.jpg");
  background-position: center;
  background-size: cover;
}

.bg-consulenza-tecnica {
  background-image: url("../../../../../../assets/images/consulenza-tecnica.jpg");
  background-position: center;
  background-size: cover;
}

.images-container {
  @apply p-6 w-full flex items-center justify-center;
}

.custom-card-item {
  @apply flex px-2 py-2 flex-1 items-center;
}

.section-title {
  color: var(--green-mati);
  @apply text-justify pb-1 text-lg font-light;
}

.section-item {
  @apply font-extralight;
}
