<div class="custom-container">
  <h1 class="custom-text-green">Dipendenza da internet</h1>
  <p class="custom-subpage-title">Puoi essere dipendente dai giochi online?</p>
  <p>
    Puoi tu o qualcuno che ami essere dipendente dai giochi online? Sembrano innocui, dopotutto sono solo dei giochi. Per molte persone, il gioco online è un passatempo innocente, ma non per tutti. Il gioco online passa da un divertimento innocuo a qualcosa di più sinistro, quando si gioca in modo compulsivo ad esclusione di qualsiasi altro interesse.<br>
    La tua dipendenza dal gioco online mette in pericolo la tua capacità di avere successo a scuola?<br>
    La quantità di tempo che dedichi al computer o ai videogiochi interferisce con il tuo lavoro?<br>
    Come altri tipi di dipendenza, se sei dipendente da internet o da videogame, potresti avvertire sintomi di astinenza quando ti viene impedito di giocare. Se una dipendenza dal gioco online sta prendendo il sopravvento nella tua vita, potrebbe essere il momento di chiedere aiuto.
  </p>
  <p class="custom-subpage-title">il gioco online è un vero problema?</p>
  <p>
    Nella quinta edizione del Manuale Diagnostico e Statistico dei Disturbi Mentali (DSM-5), pubblicato dall’American Psychiatric Association, il disturbo da gioco online è stato inserito nella Sezione III come una condizione che necessita di una maggiore attenzione nella ricerca clinica.
  </p>
  <p class="custom-subpage-title">Le migliori menti stanno lavorando per promuovere la tua dipendenza al gioco online</p>
  <p>
    Sony e Microsoft e una miriade di altre società di videogiochi e software prendono alcune delle migliori menti disponibili per creare ambienti di gioco interessanti, coinvolgenti e avvincenti. <br>
    Per alcune persone, questi ambienti hanno troppo successo e sono troppo avvincenti.
    Proprio come le droghe e l’alcol, anche i videogame possono influenzare la chimica del nostro cervello, ossia i percorsi cerebrali, innescando sensazioni di piacere e ricompensa.
    Quando il nostro cervello richiede quella sensazione intensa soddisfabile tramite il gioco online, quest’ultimo può sviluppare rapidamente dipendenza.
  </p>
  <p class="custom-subpage-title">Aiuto in caso di dipendenza da internet</p>
  <p>
    La dipendenza da internet può essere il risultato di problemi più profondi. Ad esempio, attraversare dei periodi della propria vita particolarmente difficili, può causare l’insorgenza di problemi sul piano emotivo, come l’ansia e la depressione, e trovare nel comportamento di dipendenza l’unico modo possibile per gestire la propria fragilità emotiva. Questo contribuisce poi ad alimentare la dipendenza e a mettere in atto tale comportamento, divenendo compulsivo e fuori dal proprio controllo.<br>
    In un percorso psicologico, puoi essere aiutato a individuare le cause della tua dipendenza, le strategie per gestire i momenti di fragilità o di intenso desiderio e nuove possibilità d’azione e contesti di definizione di Sè.<br>
    Talvolta la dipendenza da internet, come qualsiasi altra forma di dipendenza, si associa alla ricerca di forti sensazioni e di uno stato di evasione da problemi personali, il cui comportamento di dipendenza diventa l’unica modalità conosciuta per il raggiungimento del proprio benessere emotivo, specie nei momenti più fragili, contribuendo in tal modo a mantenere la dipendenza. Qui, tu avrai la possibilità di modificare i propri comportamenti disfunzionali per migliorare la tua esistenza e individuare nuove fonti di benessere.<br>
    Viene inoltre offerta la possibilità di un supporto psicologico anche per i membri della famiglia per comprendere l’impatto che questa dipendenza ha avuto su di loro.
    Questo lavoro avverrà in ambiente sicuro e non giudicante in cui potrai esplorare i tuoi modi personali di esperire, la natura e l’origine della tua dipendenza da internet.
  </p>
</div>

<app-came-back-button></app-came-back-button>
