<div class="custom-container">
  <h1 class="custom-text-green">Disturbi del comportamento alimentare</h1>
  <p class="custom-subpage-title">Un familiare o un amico ha un problema con il cibo?</p>
  <p>
    È piuttosto difficile capire se un amico o un familiare ha sviluppato un disturbo alimentare. I possibili segnali da tenere in considerazione possono essere:
  </p>
  <p> -  Un calo di peso corporeo significativo.</p>
  <p> -  Identificazione di momenti in cui la persona mente riguardo a quanto e quando ha mangiato.</p>
  <p> -  Episodi di ingestione vorace ed eccessiva di cibo.</p>
  <p> -  Episodi continuati in cui la persona va sempre in bagno subito dopo aver mangiato e quando ritorna sembra rossastra in volto.</p>
  <p> -  Il soggetto si allena in modo eccessivo, quasi ossessivo.</p>
  <p> -  Tentativo di evitare di mangiare con gli altri.</p>
  <p> -  Taglia il cibo in pezzi molto piccoli o mangia estremamente lentamente.</p>
  <p> -  Indossa vestiti larghi per nascondere la perdita di peso.</p>
  <p>
    Può essere difficile chiedere aiuto se si ha la preoccupazione che una persona cara possa avere un disturbo alimentare. Le persone con un disturbo alimentare sono spesso difensive riguardo al loro modo di mangiare ed il loro peso, e possono negare di star male.<br>
    È molto raro che riescano a capire da soli di avere un disturbo e che chiedano la consulenza di un professionista. Quindi il vostro ruolo sarà determinante per aiutarle.
  </p>
  <p>
    I disturbi del comportamento alimentare è problema riconosciuto da molto tempo, anche se oggi è presente un attenzione più marcata dato il loro considerevole aumento negli ultimi anni, e la comparsa di nuove forme patologiche che colpiscono anche gli uomini. I disturbi del comportamento alimentare si caratterizzano per essere innescati da sensazioni di vuoto interno a causa di rifiuti o critiche rivolti alla propria immagine o dell’assenza di solidi punti di riferimento sul piano affettivo o relazionale. Non solo, in certi casi possono scaturire dall’esigenza di avere un controllo scrupoloso di noi stessi, attraverso il cibo, come atto dimostratorio del nostro sentirci potenti, forti e non bisognosi dell’altro.<br>
    In Italia circa 2 milioni di persone soffrono di DCA. A essere colpite sono principalmente le donne, anche se, negli ultimi anni, si è registrato un aumento di casi che riguardano gli uomini. Non a caso sono state riconosciute nuove forme di DCA, che si caratterizzano per aspetti peculiari e per la prevalenza nel sesso maschile, ad esempio la vigoressia e l’ortoressia.
  </p>
  <p class="custom-subpage-title">Aiuto in caso di disturbo alimentare</p>
  <p>
    I disturbi del comportamento alimentare si comportano come delle vere e proprie dipendenze. L’abbuffata diventa quindi l’unico modo di gestire le proprie emozioni e sensazioni, solitamente negative, e il controllo compulsivo e perfezionistico dell’assunzione di calorie non è altro che un modo di affermare e legittimare la propria identità. Pertanto la consulenza psicologica è l’intervento più importante nel trattamento dei disturbi alimentari, perchè durante la quale il tuo familiare o amico verrà aiutato a individuare le cause sottostanti al suo malessere, a individuare le abitudini alimentari errate e a ristabilire strategie di assunzione di cibo regolari, a gestire i problemi emotivi e di stress che causano le restrizioni o le abbuffate. <br>
    Viene inoltre offerta la possibilità di un supporto psicologico anche per i membri della famiglia per comprendere l’impatto che questa problematica ha avuto su di loro.<br>
    Questo lavoro avverrà in ambiente sicuro e non giudicante in cui potrai esplorare i tuoi modi personali di esperire, la natura e l’origine del tuo disturbo alimentare.
  </p>
</div>

<app-came-back-button></app-came-back-button>

