<div id="contacts" class="section parallax mt-96 background-contacts">
  <div class="w-full h-full flex flex-col justify-center pb-12">
    <div class="custom-container-opacity pb-10">

      <h1 class="custom-text-green">Contatti</h1>
      <h2>Contattami per un primo appuntamento, a Padova oppure online</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-14">

        <div class="flex justify-center">
          <div class="custom-container custom-card-bordered">
            <h2 class="section-title mb-2 sm:mb-8 text-center">Dove ricevo</h2>
            <div class="section-item flex gap-4 justify-between items-center">
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <p>
                  <a href="https://g.page/r/CUL0eHo92uUREBA" target="_blank">
                    Via Barroccio dal Borgo 8, 35124, Padova (PD), Quartiere Madonna Pellegrina
                  </a>
                </p>
            </div>
          </div>
        </div>

        <div class="flex justify-center">
          <div class="custom-container custom-card-bordered">
            <h2 class="section-title mb-2 sm:mb-8 text-center">Dettaglio Contatto</h2>
            <div class="section-item flex gap-4 justify-between items-center">
              <i class="fas fa-envelope-open-text fa-2x"></i>
              <p><a href="mailto:psi.ciaccia@gmail.com">psi.ciaccia@gmail.com</a></p>
            </div>
            <div class="section-item flex gap-4 justify-between items-center mt-4">
              <i class="fas fa-phone-alt fa-2x"></i>
              <p><a href="tel:+393318194767">+39 3318194767</a></p>
            </div>
            <div class="section-item flex gap-4 justify-between items-center mt-4">
              <i class="fab fa-whatsapp fa-2x"></i>
              <p><a href="tel:+393318194767">+39 3318194767</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div>

</div>
