<div id="contacts" class="section parallax mt-96 background-contacts">
  <div class="w-full h-full flex flex-col justify-center pb-12">
    <div class="custom-container-opacity">

      <h1 class="custom-text-green">Contatti</h1>
      <h2>Contattami per un primo appuntamento, a Padova oppure online</h2>

      <div class="flex flex-col sm:flex-row mt-14">
        <div class="custom-card">
          <h2 class="custom-text-green">Dove ricevo</h2>
          <div class="custom-card-item">
              <i class="fas fa-map-marker-alt fa-2x"></i>
              <p class="pl-2 text-right">
                <a href="https://goo.gl/maps/N2kCsrWaMAFaoWws9" target="_blank">
                  Via Barroccio dal Borgo 8, 35124, Padova (PD), Quartiere Madonna Pellegrina
                </a>
              </p>
          </div>
        </div>
        <div class="custom-card">
          <h2 class="custom-text-green">Dettaglio Contatto</h2>
          <div class="custom-card-item">
            <i class="fas fa-envelope-open-text fa-2x"></i>
            <p><a href="mailto:psi.ciaccia@gmail.com">psi.ciaccia@gmail.com</a></p>
          </div>
          <div class="custom-card-item">
            <i class="fas fa-phone-alt fa-2x"></i>
            <p><a href="tel:+393318194767">+39 3318194767</a></p>
          </div>
          <div class="custom-card-item">
            <i class="fab fa-whatsapp fa-2x"></i>
            <p><a href="tel:+393318194767">+39 3318194767</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div>

</div>
