/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
//@import 'node_modules/font-awesome/css/font-awesome.css';
//@import 'assets/font-awesome-4.7.0/css/font-awesome.min.css';

//
//:root {
//  --dark-color: #2b2b2b;
//}
//
//$dark: #2b2b2b;


:root {
  --green-mati: #a0bd60;
}

body {
  @apply text-black dark:text-white bg-white dark:bg-dark font-extralight;
}

h1 {
  @apply text-center text-4xl sm:text-6xl py-3;
}

h2 {
  @apply text-center text-2xl sm:text-3xl py-2;
}

p {
  @apply text-justify text-base sm:text-xl py-1;
}

.custom-link {
  @apply text-center custom-text-green py-3 cursor-pointer;
}

//i, svg {
//  color: var(--green-mati);
//}

.custom-text-green {
  color: var(--green-mati);
}

.custom-container {
  @apply px-6 sm:px-10 md:px-16 py-6 bg-white dark:bg-dark;
}

.custom-container-opacity {
  @apply px-6 sm:px-10 md:px-16 py-6 bg-white dark:bg-dark opacity-80;

}

.custom-shadow-bottom {
  -webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.1);
}

.custom-shadow-top {
  -webkit-box-shadow: 0px -3px 15px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px -3px 15px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px -3px 15px 0px rgba(50, 50, 50, 0.1);
}

.custom-subpage-title {
  @apply font-normal pt-4 pb-0;
}

.section-title {
  color: var(--green-mati);
  @apply text-justify pb-1 text-lg sm:text-2xl font-light;
}

.section-item {
  @apply font-extralight text-base sm:text-xl;
}

.card-image-container {
  @apply px-6 py-12 md:py-24 w-full flex items-center justify-center;
}

.custom-card-item {
  @apply flex px-2 py-2 flex-1 items-center max-w-lg;
}

.custom-card-bordered{
  @apply border w-full max-w-4xl;
  border-color: var(--green-mati);
}



//parallax effect

.parallax-wrapper {
  @apply h-screen overflow-x-hidden overflow-y-auto;
  perspective: 2px;
}

.section {
  @apply min-h-screen relative flex items-center justify-center pt-10;
}

.parallax::after {
  @apply absolute inset-0;
  content: " ";
  transform: translateZ(-1px) scale(1.5);
  z-index: -1;
}
