@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import "assets/fontawesome-pro/css/all.min.css";

:root {
  --green-mati: #a0bd60;
}

body {
  @apply text-black dark:text-white bg-white dark:bg-dark font-extralight;
}

h1 {
  @apply text-center text-4xl sm:text-6xl py-3;
}

h2 {
  @apply text-center text-2xl sm:text-3xl py-2;
}

p {
  @apply text-justify text-base sm:text-xl py-1;
}

.custom-link {
  @apply text-center custom-text-green py-3;
}

i {
  color: var(--green-mati);
}

.custom-text-green {
  color: var(--green-mati);
}

.custom-container {
  @apply px-4 pt-12 pb-20 sm:px-36 bg-white dark:bg-dark text-justify;
}

.custom-container-opacity {
  @apply px-6 sm:px-16 py-6 bg-white dark:bg-dark opacity-80;
}
//
//.custom-card {
//  @apply border rounded-lg p-6 mb-10 w-full sm:w-1/2 mx-0 sm:mx-2;
//  border-color: var(--green-mati);
//}
//
//.custom-card-item {
//  @apply flex px-2 py-2 flex-1 items-center justify-between;
//}


//parallax effect

.parallax-wrapper {
  @apply h-screen overflow-x-hidden overflow-y-auto;
  perspective: 2px;
}

.section {
  @apply h-screen relative flex items-center justify-center pt-10;
}

.parallax::after {
  @apply absolute inset-0;
  content: " ";
  transform: translateZ(-1px) scale(1.5);
  z-index: -1;
}

