<div class="custom-container">
  <h1 class="custom-text-green">Valutazione psicodiagnostica</h1>
  <p>La diagnosi psicologica è l’atto tipico di indagine e valutazione, di tipo conoscitivo e comunicativo, effettuata per rispondere ad una specifica domanda presentata dal cliente, che si avvale di modelli teorici di riferimento sui processi mentali, del comportamento e della relazione.</p>
  <p>Al fine di poter definire un processo diagnostico, lo psicologo si avvale del colloquio psicologico e del proprio set di strumenti psicodiagnostici (test e altri strumenti standardizzati), d’uso esclusivo, per l’analisi del comportamento e dei processi cognitivi e affettivi.</p>
  <p>Il processo di valutazione psicodiagnostica si realizza in pochi colloqui, quantificabili in base ai tempi previsti per la somministrazione di specifici strumenti e per la raccolta di informazioni in relazione alla domanda.</p>
  <p>Consiste in:</p>
  <p> -  Somministrazione test in tendenzialmente 1/2 colloqui.</p>
  <p> -  Raccolta informazioni su aspetti della propria storia di vita volti a chiarire in modo più accurato i risultati ottenuti dai test, realizzabile in tendenzialmente 2 colloqui</p>
  <p> -  Restituzione della diagnosi psicologica riguardo alla specifica domanda.</p>
  <p>Lo scopo della diagnosi è di rilevare l’ampiezza e l’entità di una problematica, comprendere quanto impatta sul normale svolgimento delle attività quotidiane e proporre i possibili interventi psicologici da mettere in atto.</p>
</div>

<app-came-back-button></app-came-back-button>

